// PUT CUSTOM SCSS / SASS HERE
.collection{
  border: 0;
}
.collection-item{
  border-bottom: 0 !important;
}
.collection .collection-item.avatar .circle {
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  top: 26px;
}
