<div class="container">
  <div class="row">
    <div class="col l12">
      <form id="contact">
        <input name="name" type=text></input>
        <button type="submit" class="btn btn-large orange lighten-1 grey-text text-darken-3">Submit</button>
      </form>
    </div>
  </div>
</div>

