---
title: Plex Status
---

<div class="container margin-top">
  <div class="row">
    <div class="col s12 card grey darken-4 hoverable center-align">
      <h3>Reported Status : <strong><span id="current-status" class="text-darken-2"></span></strong></h3>
    </div>
    <div class="col s12">
      <ul id="tweet-container" class="collection grey darken-4">
      </ul>
    </div>
  </div>
</div>

<% content_for :index do %>
  <script type="text/javascript">
    var tweets = <%= twitter %>;
  </script>
<% end %>

